.sec3{
    // background-color: aquamarine;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .section-3-content{
        h1{
            font-size: 3.2rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }
        .sec-3-service{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .servicelist{
                width: 100%;
                
                .linesec3{
                    width: 100%;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.244);
                    margin-bottom: 0.8rem;
                    
                }
                .brand{
                    h2{
                        margin: 0;
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 1.5rem;
                        letter-spacing: 0.1rem;
                        margin-bottom: 0.5rem;
                    }
                    p{
                        margin: 0;
                        font-size: large;
                        opacity: 0.75;
                        letter-spacing: 0.2rem;
                        line-height: 1.8rem;
                        margin-bottom: 2rem;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    
                    }
                }
            }
            
        }
    }
    .image-3{
        width: 100%;
        aspect-ratio: 1/1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (min-width: 900px) {
    .sec3{
        flex-direction: row;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 4rem;
        .section-3-content{
            width: 50%;
            margin-top: 1rem;
            h1{
                font-size: 6rem;
                font-weight: 400;
            }
        }
        .image-3{
            width: 50%;
        }
    }
}