main .sec2 {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .sec2 .image-2 {
  width: 100%;
  aspect-ratio: 1/1;
}
main .sec2 .image-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sec2 .sec-2-content {
  display: flex;
  gap: 1.6rem;
}
main .sec2 .sec-2-content p {
  writing-mode: vertical-lr;
}
main .sec2 .sec-2-content .text h1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}
main .sec2 .sec-2-content .text p {
  writing-mode: initial;
  font-size: large;
  opacity: 0.75;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
}

@media (min-width: 900px) {
  main .sec2 {
    gap: 4rem;
    flex-direction: row;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
  }
  main .sec2 .image-2 {
    width: 32%;
  }
  main .sec2 .sec-2-content {
    width: 68%;
    flex-direction: row-reverse;
  }
  main .sec2 .sec-2-content p {
    margin-top: 3rem;
  }
  main .sec2 .sec-2-content .text {
    height: 100%;
  }
  main .sec2 .sec-2-content .text h1 {
    font-size: 6rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
    line-height: 5.5rem;
  }
  main .sec2 .sec-2-content .text p {
    width: 70%;
  }
}
.sec3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.sec3 .section-3-content h1 {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.sec3 .section-3-content .sec-3-service {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec3 .section-3-content .sec-3-service .servicelist {
  width: 100%;
}
.sec3 .section-3-content .sec-3-service .servicelist .linesec3 {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.244);
  margin-bottom: 0.8rem;
}
.sec3 .section-3-content .sec-3-service .servicelist .brand h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
.sec3 .section-3-content .sec-3-service .servicelist .brand p {
  margin: 0;
  font-size: large;
  opacity: 0.75;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.sec3 .section-3-content .sec-3-service .servicelist .brand a {
  text-decoration: none;
  color: black;
}
.sec3 .image-3 {
  width: 100%;
  aspect-ratio: 1/1;
}
.sec3 .image-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 900px) {
  .sec3 {
    flex-direction: row;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
  }
  .sec3 .section-3-content {
    width: 50%;
    margin-top: 1rem;
  }
  .sec3 .section-3-content h1 {
    font-size: 6rem;
    font-weight: 400;
  }
  .sec3 .image-3 {
    width: 50%;
  }
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.249);
  margin-bottom: 4rem;
  margin-top: 5rem;
}

a {
  text-decoration: none;
  color: black;
}

.sec4 .work {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.sec4 .work .selectionwork {
  width: 100%;
}
.sec4 .work .selectionwork img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec4 .work .bigbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec4 .work .bigbox .upperbox {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.sec4 .work .bigbox .upperbox .img1 {
  width: 33%;
}
.sec4 .work .bigbox .upperbox .img2 {
  width: 33%;
}
.sec4 .work .bigbox .upperbox .Azure {
  width: 33%;
}
.sec4 .work .bigbox .upperbox .Azure .content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
.sec4 .work .bigbox .upperbox .Azure .content .c1 h1 {
  font-size: 4rem;
  font-weight: 300;
}
.sec4 .work .bigbox .upperbox .Azure .content .c1 p {
  font-size: large;
  letter-spacing: 0.1rem;
}
.sec4 .work .bigbox .upperbox .Azure .content .c2 a {
  font-size: large;
}
.sec4 .work .bigbox .lowerbox {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.sec4 .work .bigbox .lowerbox .img1 {
  width: 33%;
}
.sec4 .work .bigbox .lowerbox .img2 {
  width: 33%;
}
.sec4 .work .bigbox .lowerbox .sage {
  width: 33%;
}
.sec4 .work .bigbox .lowerbox .sage .content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
.sec4 .work .bigbox .lowerbox .sage .content .c1 h1 {
  font-size: 4rem;
  font-weight: 300;
}
.sec4 .work .bigbox .lowerbox .sage .content .c1 p {
  font-size: large;
  letter-spacing: 0.1rem;
}
.sec4 .work .bigbox .lowerbox .sage .content .c2 a {
  font-size: large;
}

.img1 {
  width: 100%;
  aspect-ratio: 1/1;
}
.img1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img2 {
  width: 100%;
  aspect-ratio: 1/1;
}
.img2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .line {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .sec4 .work {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    gap: 1.5rem;
  }
  .sec4 .work .bigbox {
    gap: 3rem;
  }
  .sec4 .work .bigbox .upperbox {
    flex-direction: column;
  }
  .sec4 .work .bigbox .upperbox .img1 {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .sec4 .work .bigbox .upperbox .img1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec4 .work .bigbox .upperbox .img2 {
    display: none;
  }
  .sec4 .work .bigbox .upperbox .Azure {
    width: 100%;
  }
  .sec4 .work .bigbox .upperbox .Azure .content {
    margin: 0;
    gap: 2rem;
  }
  .sec4 .work .bigbox .upperbox .Azure .content .c1 h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .sec4 .work .bigbox .lowerbox {
    flex-direction: column;
  }
  .sec4 .work .bigbox .lowerbox .img1 {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .sec4 .work .bigbox .lowerbox .img1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec4 .work .bigbox .lowerbox .img2 {
    display: none;
  }
  .sec4 .work .bigbox .lowerbox .sage {
    width: 100%;
  }
  .sec4 .work .bigbox .lowerbox .sage .content {
    margin: 0;
    gap: 2rem;
  }
  .sec4 .work .bigbox .lowerbox .sage .content .c1 h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
}
.sec5 {
  margin-top: 4rem;
}
.sec5 .clients {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec5 .clients .clientimage {
  width: 100%;
}
.sec5 .clients .clientimage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec5 .clients .partnership {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sec5 .clients .partnership .content5 {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.sec5 .clients .partnership .content5 .yearname {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.sec5 .clients .partnership .content5 .yearname .year p {
  font-weight: 300;
}
.sec5 .clients .partnership .content5 .yearname .name h1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.01rem;
}
.sec5 .clients .partnership .content5 .branding p {
  font-weight: 300;
}
.sec5 .clients .partnership .linesec5 {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.255);
}

@media (min-width: 900px) {
  .sec5 {
    margin-top: 5rem;
  }
  .sec5 .clients {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .sec5 .clients .clientimage {
    width: 30%;
  }
  .sec5 .clients .partnership {
    width: 60%;
    margin-top: 1.5rem;
  }
  .sec5 .clients .partnership .content5 {
    flex-direction: row;
    justify-content: space-between;
  }
  .sec5 .clients .partnership .content5 .yearname {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .sec5 .clients .partnership .content5 .yearname .name {
    font-size: 3rem;
  }
  .sec5 .clients .partnership .content5 .branding {
    display: flex;
    align-items: center;
  }
}
.sec6 .startline {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.301);
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.sec6 .team {
  margin-left: 3rem;
  margin-right: 3rem;
}
.sec6 .team .teamcontent {
  display: flex;
  gap: 30rem;
  margin-bottom: 3rem;
}
.sec6 .team .teamcontent h1 {
  font-size: 8rem;
  font-weight: 300;
}
.sec6 .team .teamcontent p {
  align-content: center;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  font-size: large;
  font-weight: 400;
}
.sec6 .team .member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
.sec6 .team .member .teammember {
  width: 21.8%;
}
.sec6 .team .member .teammember h1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.sec6 .team .member .teammember .img6 {
  width: 100%;
  height: 70%;
}
.sec6 .team .member .teammember .img6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec6 .team .member .teammember .occupation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.sec6 .team .member .teammember .occupation p {
  opacity: 1;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 0.9rem;
}
.sec6 .team .member .teammember .occupation .social_icons {
  display: flex;
  gap: 0.5rem;
}
.sec6 .team .member .teammember .occupation .social_icons a {
  font-size: larger;
  opacity: 0.7;
}
.sec6 .team .member .teammember p {
  opacity: 0.6;
  letter-spacing: 0.1rem;
}

@media (max-width: 900px) {
  .sec6 .team {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .sec6 .team .teamcontent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .sec6 .team .teamcontent h1 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  .sec6 .team .teamcontent p {
    align-content: center;
    line-height: 1.7rem;
    letter-spacing: 0.15rem;
    font-size: large;
    font-weight: 400;
    word-spacing: 0.3rem;
  }
  .sec6 .team .member {
    flex-direction: column;
    gap: 2rem;
  }
  .sec6 .team .member .teammember {
    width: 100%;
  }
  .sec6 .team .member .teammember .img6 {
    width: 100%;
  }
  .sec6 .team .member .teammember .img6 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec6 .team .member .teammember .occupation {
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }
  .sec6 .team .member .teammember .occupation p {
    font-size: small;
  }
  .sec6 .team .member .teammember p {
    line-height: 1.7rem;
    letter-spacing: 0.15rem;
    font-size: large;
    font-weight: 400;
    word-spacing: 0.3rem;
  }
}
.sec7 .startline7 {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.214);
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.sec7 .teamjoin {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
}
.sec7 .teamjoin p {
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  font-size: medium;
  font-weight: 400;
}
.sec7 .teamjoin h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.sec7 .teamjoin .findjob {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.sec7 .teamjoin .findjob .arrow {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec7 .teamjoin .findjob .arrow a {
  color: white;
}

@media (min-width: 900px) {
  .sec7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .sec7 .startline7 {
    width: 45%;
    margin-right: 3rem;
  }
  .sec7 .teamjoin {
    width: 45%;
    margin: 0 3rem 0 0;
  }
  .sec7 .teamjoin p {
    font-size: small;
  }
  .sec7 .teamjoin h1 {
    font-size: 4rem;
  }
}
.footer {
  margin-top: 3rem;
  width: 100%;
  background-color: black;
}
.footer .footercontent {
  padding: 9rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footercontent .footimg {
  width: 100%;
}
.footer .footercontent .footimg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footercontent h1 {
  text-transform: uppercase;
  color: white;
  margin-top: 2.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  width: 68%;
  text-align: center;
}
.footer .footercontent a {
  background-color: #fff;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: auto;
  padding: 0.5rem 1.4rem;
  border-radius: 50px;
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-decoration: none;
}

@media (max-width: 900px) {
  .footer {
    margin-top: 3.5rem;
    padding: 0;
  }
  .footer .footercontent {
    padding: 5rem 1.5rem 2rem 1.5rem;
  }
  .footer .footercontent h1 {
    font-size: 2.3rem;
    margin-top: 1.2rem;
    width: 100%;
  }
  .footer .footercontent a {
    font-size: 0.95rem;
    padding: 0.7rem 1.5rem;
    margin-top: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  position: fixed;
  z-index: 99;
  transition: all ease 0.2s;
}

.cursor {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  padding: 3rem 3rem;
}
header .navelements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navelements .nav .nav_list {
  display: flex;
  gap: 2rem;
}
header .navelements .nav .nav_list .nav_items .nav_link {
  font-size: small;
}
header .navelements .nav .nav_list .nav_items #CreateButton {
  background-color: #000000;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
}
header .navelements .Hamburger {
  display: none;
}
header .navelements .Hamburger .bar {
  height: 2px;
  width: 27px;
  background-color: black;
  margin: 5px 0;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

main {
  width: 100%;
  margin-top: 1rem;
}
main .herotext {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
main .herotext img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.8rem;
}
main .herotext .text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
main .herotext .text p {
  font-size: small;
}
main .home-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .home-hero .image {
  width: 100%;
  aspect-ratio: 1/1;
}
main .home-hero .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .home-hero .content {
  display: flex;
  flex-direction: column;
}
main .home-hero .content .content-text h3 {
  font-weight: 400;
  font-size: 2.6rem;
  width: 90%;
  margin-bottom: 1rem;
  line-height: 2.4rem;
}
main .home-hero .content .content-text p {
  letter-spacing: 2px;
  font-size: large;
  width: 95%;
  line-height: 1.6rem;
  margin-bottom: 2rem;
}
main .home-hero .content .work {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .home-hero .content .work .service {
  display: flex;
  justify-content: space-between;
}
main .home-hero .content .work .service p {
  font-size: 2rem;
  font-weight: 300;
}
main .home-hero .content .work .linesec1 {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.263);
}

@media (min-width: 900px) {
  main .herotext {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  main .herotext .home-hero {
    flex-direction: row-reverse;
    margin-top: 4rem;
  }
  main .herotext .home-hero .image {
    width: 80%;
    aspect-ratio: 1/1;
  }
  main .herotext .home-hero .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .herotext .home-hero .content {
    width: 88%;
    margin-top: 4rem;
    gap: 3rem;
  }
  main .herotext .home-hero .content .content-text h3 {
    font-size: 5.2rem;
    font-weight: 300;
    line-height: 4.7rem;
    width: 90%;
  }
  main .herotext .home-hero .content .content-text p {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 400;
    word-spacing: 0.3rem;
  }
  main .herotext .home-hero .content .work {
    width: 90%;
  }
}
.nav--open {
  transform: translateY(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0 !important;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 760px) {
  header .navelements .nav {
    position: fixed;
    top: 5rem;
    left: 0;
    background-color: #000000;
    color: white;
    width: calc(100% - 3rem);
    margin: 0 1.5rem;
    padding: 10px 0 25px;
    transform: translateY(-200%);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }
  header .navelements .nav .nav_list {
    flex-direction: column;
    align-items: center;
  }
  header .navelements .nav .nav_list .nav_items .nav_link {
    font-size: small;
  }
  header .navelements .nav .nav_list .nav_items #CreateButton {
    background-color: white;
    color: #000000;
    padding: 0.7rem 8rem;
  }
  header .navelements .Hamburger {
    display: block;
  }
}